<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thêm mới/cập nhật thông tin sản phẩm</title>
  <link rel="stylesheet" href="/css/update_form.css">
</head>
<body>
<div class="container" th:if="${mode}">
  <h2>Thêm sản phẩm mới</h2>
  <form method="post" th:object="${request}" th:action="@{/adm/product/add}">
    <div class="form-group">
      <label for="name">Tên sản phẩm:</label>
      <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="description">Mô tả:</label>
      <textarea th:field="*{description}" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Giá:</label>
      <input th:field="*{price}" type="number" class="form-control" id="price" name="price" required>
    </div>
    <div>
      <label for="categories">Chọn danh mục:</label>
      <select th:field="*{categoryId}" id="categories" multiple>
        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>
<div class="container" th:unless="${mode}">
  <h2>Cập nhật thông tin sản phẩm</h2>
  <form method="post" th:object="${request}" th:action="@{/adm/product/update/{id} (id=${uuid})}">
    <div class="form-group">
      <label for="name">Tên sản phẩm:</label>
      <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="description">Mô tả:</label>
      <textarea th:field="*{description}" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Giá:</label>
      <input th:field="*{price}" type="number" class="form-control" id="price" name="price" required>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>
</body>
</html>
